html {
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/235/606/original/abstract-elegant-dark-blue-wave-gold-lines-light-black-background-vector.jpg);

    color: whitesmoke;
}

body {
    font-family: arial;

}



h1 {
    text-align: center;
    border: solid 3px whitesmoke;
    border-radius: 10px;
    text-align: center;
}

.bouton {
    font-size: 25pt;
    text-align: center;
    border: solid transparent 5px;
    width: 26%;
    padding: 2.5px;
    background-color: whitesmoke;
    color: black;
    padding: 5px;
}

.bouton:hover {
    color: whitesmoke;
    background-color: #03224C;
    border: solid 5px whitesmoke;
    border-radius: 20px;
    padding: 5px;
}

.ricamarie {
    height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 35px;
    float: right;
    margin-top: -325px;
    margin-right: -350px;
}

.explication {
    font-size: 30px;
    border: solid 3px black;
    border-radius: 150px;
    color: black;
    background-color: whitesmoke;
    padding: 50px;
}

.titre {
    text-decoration: underline;
    font-size: 35px;
    text-align: center;

}

.avant-apres {
    border: solid 1px black;
    border-radius: 5px;
    color: black;
    background-color: whitesmoke;
    padding: 10px;
    width: 99%;
}

.titre1 {
    text-decoration: underline;
    font-size: 45px;
    text-align: center;

}

p {
    font-size: 30px;
    border: solid 3px black;
    border-radius: 150px;
    color: black;
    background-color: whitesmoke;
    padding: 50px;
}

.titre2 {
    text-decoration: underline;
    font-size: 35px;
    text-align: center;
}

.desc {
    border: 1px solid whitesmoke;
    border-radius: 35px;
    padding: 25px;
    font-size: 30px;

}

.desc-td {
    border: 1px solid whitesmoke;
    width: -100%;
}

.SFI {
    float: right;
    margin-top: -400px;
}



.imagepdf {
    width: 100%;
    height: 800px;
    margin-top: 50px;
}

.ricamarie {
    height: 200px;
    border: 1px solid whitesmoke;
    border-radius: 35px;
    float: right;
    margin-top: -200px;
    margin-right: 100px;
}
